.admin-list {
    background-color: rgba(255, 255, 255, 0.760);
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 45%;
    border-radius: 8px;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.icon {
    height: 3vh;
}

.cell {
    width: 1%;
}

.button-admin {
    background-color: #023455;
    color: #FEF200;
    max-width: 500px;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.760);
    text-decoration: none;
    padding: 3px !important;
}

.button-admin:hover {
    background-color: #023e8a;
}

.warning {
    color: red;
}