.heading {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.button {
    background-color: #023455;
    color: #FEF200;
    padding: 0.75rem 0.75rem;
    max-width: 500px;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.760);
    text-decoration: none;
}

.button:hover {
    background-color: #023e8a;
}

.img {
    align-content: left;
}

.button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}