@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.popup {
  font-family: "Roboto Condensed", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #023455;
  padding-top: 10%;
  color: white;
  overflow: scroll;
  z-index: 100;
  box-sizing: border-box;
  padding-bottom: 10%;
  font-size: large;
}

.button {
  padding: 5px;
  border-radius: 8px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #747474;
  color: #ffffff;
  border: 1px solid #ffffff90;
  transition-duration: 0.4s;
  margin-top: 15px;
}

.button:hover {
  background-color: #ffffff;
  color: #023455;
  border: 1px solid #ffffff;
}